@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-accent: 124 58 237;
  }

  code {
    padding: 0.3em 0.45em;
    border-radius: 4px;
    background: rgba(var(--color-accent) / 12%);
    color: rgb(var(--color-accent));
    font-size: 0.875em;
    font-weight: bold;
  }
}
