@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-accent: 124 58 237;
    --color-dark-accent: 92 20 216;
  }

  code {
    padding: 0.3em 0.45em;
    border-radius: 4px;
    background: rgba(var(--color-accent) / 12%);
    color: rgb(var(--color-accent));
    font-size: 0.875em;
    font-weight: bold;
    transition-duration: 150ms;
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  code:hover {
    background: rgba(var(--color-accent) / 16%);
    color: rgb(var(--color-dark-accent));
  }
}
