---
import { Image } from "@astrojs/image/components";

import Pill from "@/atoms/Pill.astro";
import { getRealURL } from "@/utils/url";

export interface Props {
  id: number;
  image?: string;
  title: string;
  body?: string;
  price?: number;
}

const { title, body, image, price, id } = Astro.props;
---

<div
  class="link-card flex p-1 bg-white bg-none bg-size-400 bg-position-100 rounded-[0.6rem] h-full group hover:bg-position-0 hover:bg-accent-gradient focus-within:bg-position-0 focus-within:bg-accent-gradient transition-all duration-500 shadow-md"
>
  <div
    class="relative flex flex-col gap-3 w-full text-very-dark bg-white opacity-80 rounded-[0.35rem] leading-snug px-4 py-5"
  >
    <Pill class="absolute right-1 top-1">{id}</Pill>

    <Image
      src={image ?? getRealURL("/unknown.png")}
      alt={title ?? "Unknown item"}
      width={280}
      height={280}
      aspectRatio={1}
      fit="cover"
      format="webp"
      class="mx-auto h-36 w-36"
    />

    <h2
      class="line-clamp-2 text-xl transition-colors duration-500 group-hover:text-accent group-focus-within:text-accent"
    >
      {title}
    </h2>

    <div
      class="hyphens-auto line-clamp-3 grow text-medium-dark"
      set:html={body ?? "Unknown"}
    />

    <span class="ml-auto font-semibold">{price ?? "???"} ARP</span>
  </div>
</div>
