---
import { Image } from '@astrojs/image/components';

import Pill from '@/atoms/Pill.astro';

import { getRealURL } from '@/utils/url';
import { getUrlExtension, isJPG } from '@/utils/utils';

import type { TypeAs, TypeClass } from '@/types';

export interface Props<T extends HTMLElement> extends TypeClass, TypeAs<T> {
  id: number;
  image?: string;
  title: string;
  body?: string;
  price?: number;
}

const {
  title,
  body,
  image,
  price,
  id,
  class: className = '',
  as: Element = 'div',
} = Astro.props;
const urlWithFallback = image ?? getRealURL('/unknown.png');
const isJPGImage = isJPG(getUrlExtension(urlWithFallback));
---

<Element
  class={`link-card group flex h-full rounded-[0.6rem] bg-white bg-none bg-size-400 bg-position-100 p-1 shadow-md transition-all duration-500 focus-within:bg-accent-gradient focus-within:bg-position-0 hover:bg-accent-gradient hover:bg-position-0 ${className}`}
>
  <div
    class="relative flex w-full flex-col gap-3 rounded-[0.35rem] bg-white p-2 leading-snug text-very-dark opacity-80 sm:p-4"
  >
    <Pill class="absolute right-1 top-1 !bg-dark-accent/90">{id}</Pill>

    <Image
      src={urlWithFallback}
      alt={title ?? 'Unknown item'}
      width={240}
      height={240}
      aspectRatio={1}
      fit={isJPGImage ? 'cover' : 'contain'}
      format="webp"
      class={`mx-auto h-36 w-36 ${
        isJPGImage ? 'object-cover' : 'object-contain'
      }`}
    />

    <h2
      class="line-clamp-2 text-xl transition-colors duration-500 group-focus-within:text-accent group-hover:text-accent"
    >
      {title}
    </h2>

    <div
      class="line-clamp-3 grow hyphens-auto text-medium-dark"
      set:html={body ?? 'Unknown'}
    />

    <span class="ml-auto font-semibold">{price ?? '???'} ARP</span>
  </div>
</Element>
