---
import Instruction from '@/molecules/Instruction.astro';

import { getRealURL } from '@/utils/url';

import '@/css/global.css';

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-white-smoke">
  <head>
    <meta charset="UTF-8" />
    {
      !import.meta.env.DEV && (
        <meta
          http-equiv="Content-Security-Policy"
          content="default-src 'none'; script-src 'none'; script-src-elem 'none'; script-src-attr 'unsafe-inline'; style-src 'self'; style-src-elem 'self' 'unsafe-inline'; style-src-attr 'self'; img-src 'self'; font-src 'none'; connect-src 'none'; media-src 'self'; object-src 'none'; prefetch-src 'none'; child-src 'none'; frame-src 'none'; worker-src 'none'; form-action 'none'; upgrade-insecure-requests; block-all-mixed-content; base-uri 'self'; manifest-src 'self'"
        />
      )
    }
    <meta name="viewport" content="width=device-width" />
    <title>{title} | AWA DB</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={getRealURL('/apple-touch-icon.png')}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={getRealURL('/favicon-32x32.png')}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={getRealURL('/favicon-16x16.png')}
    />
    <link rel="manifest" href={getRealURL('/site.webmanifest')} />
    <link
      rel="mask-icon"
      href={getRealURL('/safari-pinned-tab.svg')}
      color="#5c14d8"
    />
    <link rel="icon" type="image/svg+xml" href={getRealURL('/favicon.svg')} />
    <meta name="description" content={description} />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#f6f6f6" />
    <slot name="head" />
  </head>
  <body>
    <main class="mx-auto max-w-4xl p-6">
      <h1 class="text-center text-4xl/tight font-black md:text-5xl/relaxed">
        <a href={getRealURL('/')}>
          Alienware Arena<br />
          <span
            class="bg-accent-gradient bg-size-400 bg-clip-text bg-position-0 [-webkit-text-fill-color:_transparent]"
          >
            Marketplace DB
          </span>
        </a>
      </h1>

      <nav>
        <ul>
          <li><a href="/artifacts/1">Artifacts & Fragments</a></li>
          <li><a href="/avatars/1">Avatars</a></li>
          <li><a href="/badges-and-borders/1">Badges and Borders</a></li>
          <li><a href="/dell-rewards/1">Dell Rewards</a></li>
          <li><a href="/game-vault/1">Game Vault</a></li>
        </ul>
      </nav>

      <Instruction class="my-4">
        List of all items released on the marketplace. If you want to
        collaborate adding missing data you can contact me through <code>
          <a
            href="https://github.com/RodrigoTomeES"
            rel="noopener noreferrer"
            target="_blank"
          >
            GitHub</a
          ></code
        >.
      </Instruction>

      <slot />
    </main>
  </body>
</html>
