---
import Instruction from '@/molecules/Instruction.astro';
import Header from '@/organisms/Header.astro';

import { getRealURL } from '@/utils/url';

import '@/css/global.css';
import { routes } from '@/utils/routes';

export type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;

const items = [
  {
    href: routes.artifacts.page(1),
    label: 'Artifacts & Fragments',
  },
  { href: routes.avatar.page(1), label: 'Avatars' },
  { href: routes.badges.page(1), label: 'Badges and Borders' },
  { href: routes.dellRewards.page(1), label: 'Dell Rewards' },
  { href: routes.gameVault.page(1), label: 'Game Vault' },
  { href: routes.unknown.page(1), label: 'Unknown' },
];
---

<!DOCTYPE html>
<html lang="en" class="bg-white-smoke">
  <head>
    <meta charset="UTF-8" />
    {
      !import.meta.env.DEV && (
        <meta
          http-equiv="Content-Security-Policy"
          content="default-src 'none'; script-src 'none'; script-src-elem 'none'; script-src-attr 'unsafe-inline'; style-src 'self'; style-src-elem 'self' 'unsafe-inline'; style-src-attr 'self'; img-src 'self'; font-src 'none'; connect-src 'none'; media-src 'self'; object-src 'none'; child-src 'none'; frame-src 'none'; worker-src 'none'; form-action 'none'; upgrade-insecure-requests; block-all-mixed-content; base-uri 'self'; manifest-src 'self'"
        />
      )
    }
    <meta name="viewport" content="width=device-width" />
    <title>{title} | AWA DB</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={getRealURL('/apple-touch-icon.png')}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={getRealURL('/favicon-32x32.png')}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={getRealURL('/favicon-16x16.png')}
    />
    <link rel="manifest" href={getRealURL('/site.webmanifest')} />
    <link
      rel="mask-icon"
      href={getRealURL('/safari-pinned-tab.svg')}
      color="#5c14d8"
    />
    <link rel="icon" type="image/svg+xml" href={getRealURL('/favicon.svg')} />
    <meta name="description" content={description} />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#f6f6f6" />
    <slot name="head" />
  </head>
  <body class="mx-auto max-w-4xl p-6 px-4">
    <Header items={items} />

    <main>
      <Instruction class="my-4">
        List of all items released on the marketplace. If you want to
        collaborate adding missing data you can open an issue on <code>
          <a
            href="https://github.com/RodrigoTomeES/awa-db"
            rel="noopener noreferrer"
            target="_blank"
          >
            GitHub</a
          ></code
        >.
      </Instruction>

      <slot />
    </main>
  </body>
</html>
